.user_login{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top: 100px;
}
.title_user{
  color: var(--py-pink);
  text-align: center;
}
.user_loginInput{
  display: block;
  width: 500px;
  height: 40px;
  margin-top: 20px;
  text-indent: 10px;
  border: 1px solid #9999;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
}

.user_loginInput:focus{
  box-shadow: 0px 0px 0px 2px #062a7fe4;
}

.user_loginBtn{
  width: 500px;
  margin-top: 20px;
  padding: 15px 0px;
  background-color: var(--py-pink);
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.user_loginBtn:focus{
  background-color: #c71c69;
}
.user_loginHome{
  margin-top: 30px;
  text-decoration: none;
  color: dodgerblue;
}
.user_loginHome:hover{
  text-decoration: underline;
}

.error_title{
  color: red;
  margin:20px auto;
}

.instruction{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}


.user_info{
  
  text-align: center;
}

.user_info > h2{
  margin-top: 20px;
  color: green;
}

.user_info > a{
  color: dodgerblue;
  text-decoration: none;
}

.validation{
  font-size: 25px;
  color: red;
  margin-top: 10px;
}

.err{
  animation: sh 0.2s 1 linear;
  border: 2px solid red;
  background-color: rgb(248, 216, 216);
}

@keyframes sh {
  0% { transform: translateX(0) }
  25% { transform: translateX(8px) }
  50% { transform: translateX(-8px) }
  75% { transform: translateX(8px) }
  100% { transform: translateX(0) }
 }

@media only screen and (max-width: 570px){
  .user_loginInput, .user_loginBtn{
    width: 90%;
    margin: 15px auto;
  }

  .user_loginBtn{
    margin: 15px 5%;
  }

  .user_login > form{
    width: 100%;
  }
}