.user_login{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top: 100px;
}
.user_login h1{
  color: var(--py-pink);
}
.user_loginInput{
  display: block;
  width: 280px;
  height: 40px;
  margin-top: 20px;
  text-indent: 10px;
  border: 1px solid #9999;
  outline: none;
}

.user_loginInput:focus{
  box-shadow: 0px 0px 0px 4px #f7258457;
}

.user_loginBtn{
  width: 280px;
  margin-top: 20px;
  padding: 15px 0px;
  background-color: var(--py-pink);
  font-size: 20px;
  color: #fff;
  border: none;
}

.user_loginBtn:focus{
  background-color: #c71c69;
}
.user_loginHome{
  margin-top: 30px;
  text-decoration: none;
  color: dodgerblue;
}
.user_loginHome:hover{
  text-decoration: underline;
}
