.delay_time{
  width: 100%;    
  min-height: 200px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.delay_time h2{
  font-weight: 100;
}
.dec_time{
  padding-top: 50px;
  font-size: 4rem;
  color: var( --py-pink);
}

.countdown{
  text-align: center;
}

.countdown > p{
  font-size: 50px;
  font-weight: 900;
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.countdown > span{
  color: #000;
  font-size: 30px;
}

.show-counter{
  display: flex;
  align-items: center;
}

.show-counter > p{
  padding: 0px 30px;
  font-size:40px;
  padding-bottom: 40px;
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 598px) {
  .countdown > p{
    font-size: 30px;
  }

  .show-counter > p{
    font-size: 30px;
    padding: 10px 30px;
  }

  .countdown > span{
    color: #000;
    font-size: 20px;
  }
}


@media only screen and (max-width: 440px) {
  .delay_time{
    min-height: 100px;
    background-color: red;
  }
  .countdown > p{
    font-size: 20px;
  }

  .show-counter > p{
    font-size: 20px;  
    padding: 0px 30px;
  }

  .countdown > span{
    color: #000;
    font-size: 15px;
  }
}