.main__panel{
    margin: 80px 50px;
}  

.test_tabs{
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: #021934;
    border-radius: 10px;
}

.tab_wrapper{
    flex: 1;
}

.link_tabs{
    padding: 15px 30px;
    margin: 0px 20px;
    text-decoration: none;
    color: #fff;
}

.link_activetabs{
    border-radius: 10px;
    background-color: #F72585;
}

.cancel_test{
    padding: 15px 30px;
    background-color: #ee2929;
    color: #fff;
    margin-right: 20px;
    border: none;
}